#page{
    background: black
}

body {
    background-color: #EBEBEB;
    background: transparent;
    height: 175px;
}

.container{
    width: 400px;
    border-radius: 10px;
    border-radius: 10px;
    }

#login-container{
    background-color: #41518A;
    background-repeat: repeat;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
}
.loginInput{
    height: 20px;
    margin-left: 120px;
    margin-right: 60px;
    border-radius: 5px;
}
h2{
    font-size: 16px;
    margin: 0px;
    margin-left: 120px;
    color: #F5F5F5;
}
#loginButton{
    border-radius: 5px;
    height: 20px;
    margin-left: 200px;
    width: 80px;
    background-color: #E8BC56;
    color:white;
    border: 0px;
}
#loginButton:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

#left-container{
    width: 110px;
    height: 175px;
    float: left;
    padding-right: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 70px;
}

#sidebarimage{
    scale: 1.55;
    margin-top: 25px;
    margin-left: 15px;
}

.left-title{
    color:#F5F5F5;
    text-align: center;
}

.tonediv{
    float: right;
}

#toneselect{
    background-color: #F5F5F5;
    margin-left: 30px;
    width: 100px;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#inputTextBox{
    background-color: #F5F5F5;
    width: 250px;
    float: right;
    padding-left: 5px;
    border-radius: 10px;
    resize: none;
}

#generateButton{
    margin-top: 10px;
    border-radius: 5px;
    float: right;
}

#onboardingimage{
    scale: 1.1;
    margin-left: 10px;
    z-index: 1;
}

#topbarimg{
    scale: 1.04;
    margin-top: -8px;
    margin-left: -4px;
}
#innerOutputcontainer{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    height: 120px;
    background-color: #E3E3E3;
}


h1{
    font-size: 16px;
    margin: 0px;
}

#ccButtonDiv{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#ccButton{
    border-radius: 5px;
    height: 20px;
    width: 380px;
    background-color: #E8BC56;
    color:white;
    border: 0px;
}
.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }